<body>
    <h1>March 7th, 2021</h1>

<p>Go <a href="/">back</a>.</p>

<p>
  Increase in individuals with confirmed or probable COVID-19 per the expanded CSTE case definition of April 5th, 2020 <a target="_blank" href="https://wwwn.cdc.gov/nndss/conditions/coronavirus-disease-2019-covid-19/case-definition/2020/">approved by the CDC</a>.
</p>

<table border="1">
  <thead>
    <tr>
      <th>State</th>
      <th>Positive Increase</th>
      <th>Total Test Results Increase</th>
      <th>Percent of new tests comprised of new positive cases</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        AK

        <a href="/covid/AK">
          More details
        </a>
      </td>
      
      <td>
        0
      </td>

      <td>
        0
      </td>

      <td>
          <span style="color: red">No tests</span>
      </td>
    </tr>
  <tbody>
</table>

<p>Data from <a href="https://covidtracking.com/" target="_blank">The COVID Tracking Project</a>.</p>